.logo {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #3483FA;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 20px;
    border: 2px solid #3483FA;
    border-radius: 5px;
  }

  .logo span {
    color: #fff;
  }